@font-face {
  font-family: Metropolis-Regular;
  src: url("assets/fonts/Metropolis-Regular.otf") format("opentype");
}

@font-face {
  font-family: Metropolis-Thin;
  src: url("assets/fonts/Metropolis-Thin.otf") format("opentype");
}

@font-face {
  font-family: Metropolis-Medium;
  src: url("assets/fonts/Metropolis-Medium.otf") format("opentype");
}

@font-face {
  font-family: Metropolis-Bold;
  src: url("assets/fonts/Metropolis-Bold.otf") format("opentype");
}

@font-face {
  font-family: Metropolis-Black;
  src: url("assets/fonts/Metropolis-Black.otf") format("opentype");
}

body {
  font-family: Metropolis-Regular;
  margin: 0px;
  box-sizing: border-box;
}

.wa-chat-btn-fixed-wrap {
  position: fixed;
  display: block;
  z-index: 5;
  right: 2%;
  bottom: 5%;
}

.wa-chat-btn-icon-image {
  width: 50px;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .wa-chat-btn-fixed-wrap-mb {
    position: fixed;
    display: block;
    right: 3%;
    z-index: 5;
  }
}
